
.logo img {
    width: 192px;
    height: 128px;
}

footer {
	padding: 20px 0px;
	background-color:#444;
	color:#ccc;
}

footer li {
	list-style-type: none;
	text-align: center;
	font-family: "Arial";
}

.carousel-inner > .item > img {
	width: 100%;
}

section {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}