
header {
	margin-bottom: 100px;
}

.main-navbar {
	display: block;
	background-color: rgba(230, 230, 217, 0.95);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.main-navbar nav {
	display: inline-block;
	float: right;
	text-align: right;
	padding-top: 30px;
}

.main-navbar nav ul {
	display: block;
}

.main-navbar nav li {
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.main-navbar nav li.active {
	text-decoration: underline;
	font-size: 26px;
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.08);
	text-shadow: 0 0 1px black;
}

.main-navbar nav li.active a {
	color: #FFCC00;
}

.main-navbar nav li a {
	color: black;
}

.main-navbar nav li a:hover {
	color: #FFCC00;
	text-shadow: 0 0 1px black;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 144px; /*192px;*/
    height: 96px; /*128px;*/
}

footer {
	padding: 20px 0px;
	background-color:#444;
	color:#ccc;
}

footer li {
	list-style-type: none;
	font-family: "Arial";
}

.footerButton {
	background: #383838;
	cursor: pointer;
	height: 25px;
    width: 100px;
    line-height: 25px;
	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.footerButton:hover {
	background: #404040;
}

.carousel-inner > .item > img {
	width: 100%;
}

section {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.members {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: gray;
}

div.member {
	background-color: white;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}

img.member_pic {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline;
}
