
body {
	/*background-color: #EFEFEF;*/
	background-color: white;
}

nav.navbar-custom {
	background-color: white;
	height: 100px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

nav.navbar-custom .navbar-nav {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: white;
}

nav.navbar-custom .navbar-nav a {
	border-bottom: 2px solid white;
	transition: border-bottom-color 0.15s;
}

nav.navbar-custom .navbar-nav a:hover {
	border-bottom-color: #FEC222;
}

nav.navbar-custom .navbar-nav a:focus {
	border-bottom-color: #FEC222;
}

nav.navbar-custom .navbar-brand img {
	height: 80px;
}

div.navbar-header button {
	margin-top: 35px;
	border: 1px solid;
}

a.join-button {
	text-decoration: none;
}

a.join-button button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #FEC222;
}

footer {
	padding: 20px 0px;
	background-color:#444;
	color:#ccc;
}

footer ul {
	padding: 1px;
	list-style-type: none;
	font-family: "Arial";
}

a.footerButton {
	text-decoration: none;
	color: #E6E6E6;
}

a.footerButton:hover {
	color: #ffff00;
}

.carousel-inner > .item > img {
	width: 100%;
}

section {
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

.subpage-title-bar {
	background-color: #FEC222;
	color: #444;

	font-weight: 300;
	min-height: 72px;
}

.subpage-title-bar h3 {
	font-weight: 300;

	font-size: 24pt;
}

#copyrightMessage {
	font-size: 12px;
	text-transform: uppercase;
	color: #888;
}

p {
	margin-bottom: 0px;
}

