
section#section-whatis-enactus {
	/*background: url("/static/what_is_enactus.png") no-repeat;*/
	background-size: cover;
	background-attachment: fixed;

	text-align: left;

}

#section-whatis-enactus h1 {
	background-color: #FEC222;

	display: inline;

	font-size: 56pt;

	padding: 0px 3px;
}

#section-whatis-enactus h1 #firsthalf{
	font-weight: 300;
	font-size: 36pt;
}