
.project {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

.project h1 {
	border-bottom: 1px solid #669999;
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 0px;
}

div.project-content {
	padding-bottom: 5px;
}

#projects {
	background-color: #FFF7E0;
}

#projects .container {
	position: relative;
}

#projects nav {
	margin-top: 40px;
}

.affix {
	position: fixed;
	top: 10px;
}

#projectsNav .nav li {
	border-left: 3px solid white;
	border-bottom: 3px solid #669999;
	margin-bottom: 4px;

}

#projectsNav .nav > li > a,
#projectsNav .nav > li > a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #777;
}

#projectsNav .nav li:hover,
#projectsNav .nav li.active {
	background-color: transparent;
	border-left: 3px solid #FEC222;
}