#projects .project {
	margin-top: 40px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

#projects .project h1 {
	margin-bottom: 10px;
}

#projects .project .project-subtitle {
	color: #999;
	font-style: italic;
	margin-bottom: 15px;
}

#projects {
	background-color: white;

}

#project-view .project {
	padding: 40px 0px;
}

#project-view .project .project-content {
	font-size: 12pt;
	line-height: 1.5;
}

#projects .container {
	position: relative;
}

#projects nav {
	margin-top: 40px;
}

.affix {
	position: fixed;
	top: 10px;
}

#projectsNav .nav li {
	border-left: 2px solid white;

}

#projectsNav .nav > li > a,
#projectsNav .nav > li > a:hover {
	background-color: transparent;
	color: #777;
}

#projectsNav .nav li:hover,
#projectsNav .nav li.active {
	background-color: transparent;
	border-left: 2px solid #FEC222;
}
