{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block subpageContent %}

<div id="blog-detail" class="blog-main">
    {% if post.featured_image %}
        <div class="blog-featured-pic" style="background-image: url('{{post.featured_image.url}}');background-repeat: no-repeat;background-size: auto;background-color: #ddd;">
            <!-- Using inline CSS style to set background so we don't have to get Django to parse the CSS file -->
        </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <article>
              <div class="article-title">
                  <h3>{{ post.title }}</h3>
              </div>
              <div class="article-created">
                  Posted by {{post.created_by.first_name}} at {{post.created_at}}
              </div>
              <div class="article-social-media-buttons">
                  <div class="addthis_sharing_toolbox"></div>
              </div>
              
              <div class="article-content">
                  {{ post.body | safe }}
              </div>
          </article>
        </div>
      </div>
    </div>
</div>

<!-- Using social media tools from www.addthis.com -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5563b1896b357a35" async="async"></script>
    
{% endblock %}