{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block subpageContent %}

<!-- Load Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '348851051967188',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Using social media tools from www.addthis.com -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5563b1896b357a35" async="async"></script>

<div id="blog-detail" class="blog-main">
    {% if post.featured_image %}
        <div class="blog-featured-pic" style="background-image: url('{{post.featured_image.url}}');background-repeat: no-repeat;background-size: auto;background-color: #ddd;">
            <!-- Using inline CSS style to set background so we don't have to get Django to parse the CSS file -->
        </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <article>
              <div class="article-title">
                  <h3>{{ post.title }}</h3>
              </div>
              <div class="article-created">
                  Posted by {{post.created_by.first_name}} at {{post.created_at}}
              </div>
              <div class="article-social-media-buttons">
                  <div class="addthis_sharing_toolbox"></div>
                
                  <!-- Old methods -->
                  <!-- Twitter button -->
                  <!--
                  <a href="https://twitter.com/share" class="twitter-share-button" data-via="enactuswaterloo">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  -->
                  <!-- Facebook button -->
                  <!--
                  <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                  -->
              </div>
              
              <div class="article-content">
                  {{ post.body | safe }}
              </div>
          </article>
        </div>
      </div>
    </div>
</div>
    
{% endblock %}