{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block subpageContent %}

<div id="blog-list" class="blog-main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				{% for post in posts %}
					{% if forloop.last %}
						<div class="blog-article" style="border: none;">
					{% else %}
						<div class="blog-article">
					{% endif %}
							{% if post.featured_image %}
								<img class="blog-featured-pic" src="{{ post.featured_image.url }}" alt="">
							{% endif %}
							<div class="article-title">
								<a href="{% url 'blog_detail' title=post.title %}">{{ post.title }}</a>
							</div>
							<div class="article-created">
								Posted by {{post.created_by.first_name}} at {{post.created_at}}
							</div>
							<div class="article-content">
								{{ post.body | striptags | truncatewords:100 }}
							</div>

							<a href="{% url 'blog_detail' title=post.title %}" class="btn btn-primary">Read more</a>
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
	
{% endblock %}