#signup {
	background-color: white;
	width: 100%;
}

#signup form {
	margin: 0 auto;
	padding-bottom: 80px;
	margin-top: 20px;
	width: 20%;
}

form div.form-group label {
	padding: 0px;
	margin: 0px;
	display: block;
	font-size: 16px;
}

form div.form-group input {
	height: 20px;
	padding: 10px;
	margin: 0px;
}

.form-group {
	display: block;
	margin-bottom: 15px;
	padding: 0px;
}
