{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}" />
{% endblock %}

{% block subpageContent %}

{% if form.errors %}
<p>Invalid login. Please try again.</p>
{% endif %}

<div id ="login">
	<div class="container">
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Sign in</button>
					</div>
				</div>
			</form>
		</form>
	</div>
</div>

{% endblock %}