{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}About Us{% endblock %}

{% block subpageContent %}
    <div class="members">
    	<div class="container-fluid">
    		{% for person in people %}
			    <div class="col-lg-3 col-md-4 col-sm-6">
			    	<div class="member">
			    		<div class="member-profile">
			    			<div class="member-pic-box">
			    				<img src="{% static 'member-pics\{{person.picture}}'' %}" alt="Member picture" class="member-pic">
			    			</div>
			    			<div class="member-name">
					    		<h4>{{person.firstName}}</h4>
					    		<h4>{{person.lastName}}</h4>
			    			</div>
			    		</div>
			    		<div class="member-program">
				    		<p>- {{person.program}}, {{person.year}}</p>
			    		</div>
			    		<div class="member-position">
				    		<p>- {{person.position}}</p>
				    	</div>
				    	<div class="member-bio">
				    		<p>- {{person.bio}}</p>
				    	</div>
			    	</div>
			    </div>
			{% endfor %}
		</div>
	</div>
	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

{% endblock %}