{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

{% if coverpics and coverpics|length %}
<section id="section-coverpics">
  <div id="carousel-main" class="carousel slide" data-ride="carousel">
    <!-- Indicators
    <ol class="carousel-indicators">
      {% for coverpic in coverpics %}
        <li data-target="#carousel-main" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter == 1 %}active{% endif %}"></li>
      {% endfor %}
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for coverpic in coverpics %}
        <div class="item {% if forloop.counter == 1 %}active{% endif %} text-center">
          <a href="{{coverpic.url}}" style="height: 100%; display: block;">
            <img src="{{coverpic.image.url}}" alt="coverpic-{{forloop.counter}}">
            <div class="carousel-caption">
              <div class="carousel-caption-title">
                <span class="carousel-title-rect">{{coverpic.title}}</span>
              </div>
              <div class="carousel-caption-subtitle">
                <span class="carousel-subtitle-rect">{{coverpic.subtitle}}</span>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
{% endif %}

<section id="section-whatis-enactus">
  <div class="container">
    <h2>Who We Are</h2>
    <div class="section-text">
      <p>Enactus Waterloo is a student-led organisation dedicated to improving the quality of life and standard of living. We solve real-world problems by implementing projects which achieve the triple bottom line: people, planet, and profit.</p>

      <p>Every year our team travels to the National Competition, where we compete against 60 teams from across Canada and showcase our projects to the country’s top executives. </p>
    </div>

  </div>
  <a class="home-button" href="{% url 'our_team' %}">Our team</a>
</section>

<section id="section-projects">
  <div class="container">
    <h2>Our Projects</h2>
    <div class="row">
    {% for project in projects %}
      <div class="col-sm-4">
        <a href="{% url 'project_details' project.id %}">
          <div class="project-card">
            {% if project.image %}
              <img src="{{project.image.url}}" alt="{{project.title}}" class="project-pic">
            {% endif %}
            <div class="project-text">
              <div class="project-title">
                {{project.title}}
              </div>
              <div class="project-short-desc">
                {{project.shortDesc}}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
    <a href="{% url 'projects' %}" class="home-button">See more</a>
  </div>
</section>

<section id="section-join-us">
  <div class="container">
    <div class="section-text">
      Follow us!
    </div>
    <br>
    <!--<a class="home-button home-button-lg" href="/apply">Join us</a><br>-->
    <a class="home-button" href="https://www.facebook.com/EnactusWaterloo"><i class="fa fa-facebook-square"></i>Facebook</a>
    <a class="home-button" href="https://twitter.com/enactusUW"><i class="fa fa-twitter-square"></i>Twitter</a>
    <a class="home-button" href="https://instagram.com/enactuwaterloo"><i class="fa fa-instagram"></i>Instagram</a>
  </div>
</section>

{% endblock %}
