{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

<section id="section-whatis-enactus">
	<div class="container">
		<!--<div class="row">
			<div class="col-md-6">
				<div class="hidden-xs hidden-sm embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FZjmF0-cdD0"allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="section-content">
					<div class="section-title"><h1><span id="firsthalf">&nbsp;What is&nbsp;</span><br>&nbsp;Enactus?&nbsp;</h1></div>
					<br>
					<div class="visible-xs visible-sm embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FZjmF0-cdD0"allowfullscreen></iframe>
					</div>
					<div class="section-text">
						<strong>ENtrepreneurial</strong> – Having the perspective to see an opportunity and the talent to create value from that opportunity
						<br><br>
						<strong>ACtion</strong> – the willingness to do something and the commitment to see it through even when the outcome is not guaranteed
						<br><br>
						<strong>US</strong> – A group of people who see themselves connected in some important way; individuals that are part of a greater whole
					</div>
				</div>
			</div>
		</div>-->

		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="..." alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		      <img src="..." alt="...">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    ...
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</section>

<section id="section-stats">
	<div class="container">
		<h2>Enactus at the University of Waterloo</h2>
		<div class="row">
			<div class="col-md-4" id="stat-1">
				<div class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
				</div>

				<div class="stat stat-number">35</div>
				<div class="stat stat-type">Members</div>
			</div>

			<div class="col-md-4" id="stat-2">
				<div class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-building fa-stack-1x fa-inverse"></i>
				</div>

				<div class="stat stat-number">4</div>
				<div class="stat stat-type">Projects</div>
			</div>

			<div class="col-md-4" id="stat-3">
				<div class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
				</div>

				<div class="stat stat-type">Founded in</div>
				<div class="stat stat-number">2014</div>
			</div>
		</div>
	</div>
</section>

<!--<section id="section-buttons">
	<div class="container">
			<a class="home-button" href="{% url 'projects' %}">View projects</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="home-button" href="{% url 'our_team' %}">View members</a>
		
	</div>
</section>-->

<section id="section-meeting">
	<div class="container">
		<h2>Our meetings</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="home-button">
					<i class="fa fa-calendar fa-fw"></i>
					Every Tuesday
				</div>
				<div class="home-button">
					<i class="fa fa-clock-o fa-fw"></i>
					6:00 PM - 6:30 PM
				</div>

				<div class="home-button">
					<i class="fa fa-map-marker fa-fw"></i>
					MC 4042
				</div>
			</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d723.8631673720687!2d-80.54398360716775!3d43.47202271829367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf6aa0a3f9659%3A0x713ea568814697ba!2sMathematics+and+Computer%2C+University+of+Waterloo%2C+200+University+Ave+W%2C+Waterloo%2C+ON+N2L+3G1!5e0!3m2!1sen!2sca!4v1424233496870" width="600" height="450" style="border:0"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section-join-us">
	<div class="container">
		<div class="section-text">
			Be a social entrepreneur.
		</div>
		<br>
		<a class="home-button home-button-lg" href="/apply">Join us</a><br>
		<a class="home-button" href="{% url 'projects' %}">View projects</a>
		<a class="home-button" href="{% url 'our_team' %}">View members</a>
	</div>
</section>

{% endblock %}