{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

<section id="section-whatis-enactus">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<iframe class="visible-lg" width="560" height="315" src="https://www.youtube.com/embed/FZjmF0-cdD0" frameborder="0" allowfullscreen></iframe>

				<iframe class="hidden-lg" width="470" height="290" src="https://www.youtube.com/embed/FZjmF0-cdD0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6">
				<h1><span id="firsthalf">&nbsp;What is&nbsp;</span><br>&nbsp;Enactus?&nbsp;</h1>
				<br><br><br>
				<div class="section-text">
					Enactus is love. Enactus is life. :)
					<br><br>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum lacus scelerisque, placerat justo non, bibendum risus. Aliquam erat volutpat. Nunc auctor semper tortor, eu sagittis massa sollicitudin sed. Quisque pretium velit est, vitae viverra tellus facilisis sit amet. Nam vestibulum pellentesque blandit. Sed odio nunc, ultrices eu tincidunt non, convallis eget risus. Vivamus et leo sit amet mi bibendum faucibus.
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section-stats">
	<div class="container">
		<h3>Enactus at the University of Waterloo</h3>
		<div class="row">
			<div class="col-md-4" id="stat-1">
				<span class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
				</span>
				<br>

				<div class="stat stat-number">35</div>
				<div class="stat stat-type">Members</div>
			</div>

			<div class="col-md-4" id="stat-2">
				<span class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-building fa-stack-1x fa-inverse"></i>
				</span>
				<br>

				<div class="stat stat-number">4</div>
				<div class="stat stat-type">Projects</div>
			</div>

			<div class="col-md-4" id="stat-3">
				<span class="fa-stack">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
				</span>
				<br>

				<div class="stat stat-number">9000+</div>
				<div class="stat stat-type">Awesomeness</div>
			</div>
		</div>
	</div>
</section>

<section id="section-buttons">
	<div class="container">
			<a class="home-button" href="{% url 'projects' %}">View projects</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a class="home-button" href="{% url 'about_us' %}">View members</a>
		
	</div>
</section>

<section id="section-meeting">
	<div class="container">
		<h3>Our meetings</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="home-button">
					<i class="fa fa-calendar fa-fw"></i>
					Every Tuesday
				</div>
				<div class="home-button">
					<i class="fa fa-clock-o fa-fw"></i>
					6:00 PM - 6:30 PM
				</div>

				<div class="home-button">
					<i class="fa fa-map-marker fa-fw"></i>
					MC 4042
				</div>
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d723.8631673720687!2d-80.54398360716775!3d43.47202271829367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf6aa0a3f9659%3A0x713ea568814697ba!2sMathematics+and+Computer%2C+University+of+Waterloo%2C+200+University+Ave+W%2C+Waterloo%2C+ON+N2L+3G1!5e0!3m2!1sen!2sca!4v1424233496870" width="600" height="450" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div>
</section>

<section id="section-join-us">
	<div class="container">
		<div class="section-text">
			Be a social entrepreneur.
		</div>
		<br>
		<a class="home-button" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Join us</a><br><br>
	</div>
</section>

{% endblock %}