{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block subpageContent %}
    <div class="projects">
    	<div class="container">
    		{% for project in projects %}
			    <div class="project">
			    	<div class="col-sm-3 project-title-block">
			    		<p class="project-title">{{project.title}}</p>
			    	</div>
			    	<div class="col-sm-9">
			    		<p class="project-description">{{project.description}}</p>
			    	</div>
			    	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
			    </div>
			{% endfor %}
		</div>
	</div>

{% endblock %}