{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block subpageContent %}
    <div class="projects">
    	<div class="container">
		    <div class="project">
		    	<div class="col-sm-3 right-border">
		    		<p class="project-title">Here is our first project</p>
		    	</div>
		    	<div class="col-sm-9">
		    		<p class="project-description">This is the project description</p>
		    	</div>
		    	<div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
		    </div>
		</div>
	</div>

{% endblock %}