{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'projects.css' %}" />
{% endblock %}

{% block body-attrs %}data-spy="scroll" data-target="#projectsNav"{%endblock%}

{% block subpageContent %}
    <div id="projects">
    	<div class="container">
    		<div class="row">
	    		<div class="col-md-9">
		    		{% for project in projects %}
		    			<br><br>
					    <div class="project" id="project-{{project.id}}">
					    	<h1>{{project.title}}</h1>
					    	<br>
					    	<div class="project-content">{{project.description | safe }}</div>
					    	<br><br><br>
					    </div>
					{% endfor %}
				</div>

				<nav class="col-md-3 hidden-xs hidden-sm">
					<div data-spy="affix" data-offset-top="220" id="projectsNav">
						<ul class="nav nav-stacked" role="tablist">
							{% for project in projects %}
								<li
									{% if forloop.counter == 0 %}
									class="active"
									{% endif %}
								><a href="#project-{{project.id}}">{{project.title}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}