{% extends "subpage.html" %}
{% load staticfiles %}

{% block title %}Our Team{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'about.css' %}" />
{% endblock %}

{% block subpageContent %}
	<div class="members">
		<div class="container">
			<br>
			<div class="row">
				{% for person in people %}
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="member">
							<div class="member-pic-box text-center">
								{% if person.picture %}
									<span class="helper"></span><img src="{{person.picture.url}}" alt="Member picture" class="member-pic">
								{% else %}
									<i class="fa fa-user"></i>
								{% endif %}
							</div>
							<div class="member-info">
								<div class="member-name">
									{{person.user.first_name}}&nbsp;{{person.user.last_name}}
								</div>
								<div class="member-position">
									{{person.position}}
								</div>
								<div class="member-program">
									{{person.program}}, Class of {{person.year}}
								</div>
								<div class="member-bio">
									{{person.bio}}
								</div>
							</div>
							<div class="member-link">
								{% if person.link %}
									<a href="{{person.link}}">{{person.link_type}}</a>
								{% endif %}
							</div>
							<span class="overlay"></span>
						</div>
					</div>
					{% if forloop.counter|divisibleby:2 %}
						<div class="clearfix visible-sm-block"></div>
					{% endif %}
					{% if forloop.counter|divisibleby:3 %}
						<div class="clearfix visible-md-block"></div>
					{% endif %}
					{% if forloop.counter|divisibleby:4 %}
						<div class="clearfix visible-lg-block"></div>
					{% endif %}
				{% endfor %}
		</div>
	</div>

<!-- // <script>
// if (document.width >= 768) {
// 	$( document ).ready(function() {
// 	    var heights = $(".member").map(function() {
// 	        return $(this).height();
// 	    }).get(),
//
// 	    maxHeight = Math.max.apply(null, heights);
//
// 	    $(".member").height(maxHeight);
// 	});
// }
// </script> -->
{% endblock %}
