{% extends "subpage.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Password change{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'password_change.css' %}" />
{% endblock %}

{% block subpageContent %}

<div id ="pass-change">
	<div class="container">
		<div class="form-content">
			{% if form != None %}
				<form method="post" action="">
					{% csrf_token %}

					{% if form.errors %}
						<div class="alert alert-danger" role="alert">Invalid password change</div>
					{% endif %}

					{% bootstrap_form form %}

					<input type="submit" class="btn btn-default" value="Change Password" />
				</form>
			{% else %}
				<div class="alert alert-info">
					Your password was changed successfully.
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}