{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %} | Enactus Waterloo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href='{% static "base.css" %}'>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        {% block head %} {% endblock %}
    </head>
    <body {% block body-attrs %} {% endblock %}>

    	<header>
    		<nav class="navbar navbar-default navbar-custom navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">
                        <img src="{% static 'logo.jpg' %}" alt="logo">
                      </a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'projects' %}">Projects</a></li>
                        <li><a href="{% url 'blog_index' %}">Blog</a></li>
                    </ul>
                </div>
            </nav>
    	</header>

    	{% block content %}
    	{% endblock %}

        <footer>
	        <div class="container">
                <div class="row">
                    <div class="footer-box col-sm-6">
                        <h3>Explore</h3>
                        <nav>
                            <ul>
                                <li><a class="footerButton" href="{% url 'home' %}">Home</a></li>
                                <li><a class="footerButton" href="{% url 'about_us' %}">About Us</a></li>
                                <li><a class="footerButton" href="{% url 'projects' %}">Projects</a></li>
                                <li><a class="footerButton" href="{% url 'blog_index' %}">Blog</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="footer-box col-sm-6">
                        <h3>Contact Us</h3>
                        <nav>
                            <ul>
                                <li><a class="footerButton" href="http://www.facebook.com/EnactusWaterloo">Facebook</a></li>
                                <li><a class="footerButton" href="mailto:info@enactuswaterloo.ca">Email</a></li>
                                <li><a class="footerButton" href="https://twitter.com/enactuswaterloo">Twitter</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="text-center" id="copyrightMessage">Copyright &copy; 2015 Enactus Waterloo.</div>
	        </div>
	    </footer>
       
    </body>
</html>
