{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Home{% endblock %} | Enactus Waterloo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href='{% static "base.css" %}'>

	<!-- Added favicon -->
	<link rel="shortcut icon" href="/static/favicon.ico">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	{% block head %} {% endblock %}
</head>
<body {% block body-attrs %} {% endblock %}>

	<header>
		<nav class="navbar navbar-default navbar-custom navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<i class="fa fa-bars fa-lg"></i>
					</button>
					<a class="navbar-brand" href="/">
						<img src="{% static 'logo.jpg' %}" alt="logo">
					</a>
				</div>

				<ul id="navbar" class="nav navbar-nav collapse navbar-collapse navbar-right">
					<!-- <li><a href="{% url 'home' %}">HOME</a></li> -->
					<li><a href="{% url 'our_team' %}">OUR TEAM</a></li>
					<li><a href="/#projects">PROJECTS</a></li>
					<!-- <li><a href="{% url 'projects' %}">PROJECTS</a></li> -->
					<li><a target="_blank" href="https://medium.com/@EnactusUW">BLOG</a></li>
					<!-- <li><a href="{% url 'sponsors' %}">SPONSORS</a></li> -->
					<li><a href="{% url 'contact' %}">CONTACT US</a></li>
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'profile' %}">Profile</a></li>
							<li><a href="{% url 'django.contrib.auth.views.password_change' %}">Password</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</li>
					{% else %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<form class="navbar-form navbar-left" role="search" method="post" action="{% url 'django.contrib.auth.views.login' %}">
							{% csrf_token %}
								<div class="form-group">
									<input type="text" class="form-control" name="username" placeholder="Username" autofocus="">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" name="password" placeholder="Password">
								</div>
								<div class="form-elements">
									<a href="{% url 'signup' %}" class="btn pull-right btn-primary">Sign Up</a>
									<button type="submit" class="btn btn-default" >Sign In</button>
								</div>
							</form>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
		<div class="container">
			<!-- <div class="row">
				<div class="col-sm-6">
					<h3>Explore</h3>
					<nav>
						<ul>
							<li><a class="footerButton" href="{% url 'home' %}">Home</a></li>
							<li><a class="footerButton" href="{% url 'our_team' %}">Our Team</a></li>
							<li><a class="footerButton" href="{% url 'projects' %}">Projects</a></li>
							<li><a class="footerButton" href="{% url 'blog_index' %}">Blog</a></li>
						</ul>
					</nav>
				</div>

				<div class="col-sm-6">
					<h3>Contact Us</h3>
					<nav>
						<ul>
							<li><a class="footerButton" href="http://www.facebook.com/EnactusWaterloo">Facebook</a></li>
							<li><a class="footerButton" href="mailto:info@enactuswaterloo.ca">Email</a></li>
							<li><a class="footerButton" href="https://twitter.com/enactusUW">Twitter</a></li>
						</ul>
					</nav>
				</div>

			</div> -->
			<div class="text-center" id="copyrightMessage">Copyright &copy; Enactus Waterloo 2015.</div>
		</div>
	</footer>

</body>
</html>
